#outer {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 500px;
}
#footer {
  height: 20px;
  margin: 5px;
  flex-grow: 0;
  flex-shrink: 0;
}
#container {
  border: 2px solid cyan;
  flex: 1;
}
#buttons {
  display: flex;
  flex-shrink: 0;
}
button {
  min-width: 20px;
  padding: 2px;
  margin: 2px;
}
